[submodule "chords"]
	path = chords
	url = https://gist.github.com/Flare576/884e3bc833cdf80fed9337ffee93a500
[submodule "caps"]
	path = caps
	url = https://gist.github.com/Flare576/fb8b42a6156458e20ca421a6f80cec48
[submodule "qmk_config"]
	path = qmk_config
	url = https://gist.github.com/Flare576/a3439a5d853a082698f74ef1b8b15ba5
