[submodule "chords"]
	path = chords
	url = https://gist.github.com/Flare576/884e3bc833cdf80fed9337ffee93a500
	branch = master
[submodule "caps"]
	path = caps
	url = https://gist.github.com/Flare576/fb8b42a6156458e20ca421a6f80cec48
	branch = master
[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/Flare576/qmk_firmware.git
	branch = flare576-new-sofle-layout
[submodule "qmk_configurator"]
	path = qmk_configurator
	url = https://github.com/Flare576/qmk_configurator.git
	branch = flare576-sofle-mapping
